.navbar {
  height: 80px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-bottom: 1px solid #e5e7eb;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #4f46e5;
}

.search-box {
  width: 50%;
  display: flex;
  align-items: center;
}

.search-box input {
  flex: 1;
  padding: 12px;
  border: 1px solid #d1d5db;
  outline: none;
  border-radius: 8px 0 0 8px;
}

.search-box select {
  padding: 12px;
  border: 1px solid #d1d5db;
  outline: none;
}

.search-box button {
  padding: 12px 20px;
  border: none;
  background: #4f46e5;
  color: white;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sell-btn {
  padding: 10px 20px;
  border: 2px solid #4f46e5;
  background: white;
  color: #4f46e5;
  border-radius: 8px;
  cursor: pointer;
}

.sell-btn:hover {
  background: #4f46e5;
  color: white;
}

.cart-btn {
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.login-btn {
  padding: 10px 20px;
  border: none;
  background: #4f46e5;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.login-btn:hover {
  background: #4338ca;
}

.menu-bar {
  height: 55px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
}

.menu-links {
  display: flex;
  list-style: none;
  gap: 35px;
}

.menu-links a {
  text-decoration: none;
  color: #111827;
  font-weight: 500;
  transition: 0.3s;
}

.menu-links a:hover {
  color: #4f46e5;
}

.menu-right {
  display: flex;
  gap: 25px;
  color: #374151;
  font-weight: 500;
  cursor: pointer;
}

.menu-right span:hover {
  color: #4f46e5;
}
.menu-links .active {
  color: #4f46e5;
  border-bottom: 2px solid #4f46e5;
  padding-bottom: 15px;
}