.card{
    background:white;

    border-radius:15px;

    overflow:hidden;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

    transition:.3s;
}
.card:hover{
    transform:translateY(-8px);
}
.image{

    position:relative;

}
.image img{
    width:100%;

    height:240px;

    object-fit:cover;
}
.image span{

    position:absolute;

    top:12px;

    left:12px;

    background:#4f46e5;

    color:white;

    padding:5px 10px;

    border-radius:20px;

    font-size:12px;
}
.content{
    padding:18px;
    
}
.content h3{
    font-size:20px;

    margin-bottom:10px;
}
.content p{
    color:#666;

    margin-bottom:10px;
}
.price{

    display:flex;

    align-items:center;

    gap:10px;

    margin:15px 0;
}
.price h2{

    color:#111;
}
.price del{

    color:#888;
}

.price small{

    color:green;

    font-weight:bold;

}
.content button{

    width:100%;

    padding:12px;

    border:none;

    border-radius:8px;

    background:#4f46e5;

    color:white;

    cursor:pointer;

    margin-top:10px;
}